{% extends 'base.html' %}

{% block title %}Announcements - Skillera University{% endblock %}

{% block content %}
<h3>Announcements</h3>
<hr>
<ul class="list-group">
  <li class="list-group-item">
    <strong>05 Aug 2025:</strong> UG & PG Exam Registration Extended till 10th Aug
    <span class="badge bg-warning text-dark float-end">Important</span>
  </li>
  <li class="list-group-item">
    <strong>01 Aug 2025:</strong> Practical Exam Dates Published for B.Sc & M.Sc
  </li>
  <li class="list-group-item">
    <strong>30 Jul 2025:</strong> Hall Ticket Portal will be live from 2nd Aug
  </li>
  <li class="list-group-item">
    <strong>25 Jul 2025:</strong> New Grading System Guidelines Released
  </li>
</ul>
{% endblock %}
