{% extends 'base.html' %}

{% block title %}Notifications - Skillera University{% endblock %}

{% block content %}
<h3>Notifications</h3>
<hr>
<ul class="list-group">
  <li class="list-group-item">
    <strong>07 Aug 2025:</strong> Exam Centre Change Notification for UG Students
    <span class="badge bg-danger float-end">Urgent</span>
  </li>
  <li class="list-group-item">
    <strong>04 Aug 2025:</strong> New Circular for Internal Marks Submission
  </li>
  <li class="list-group-item">
    <strong>02 Aug 2025:</strong> Revised Regulations for Supplementary Exams
  </li>
  <li class="list-group-item">
    <strong>28 Jul 2025:</strong> Online Portal Maintenance on 9th August (6 PM to 11 PM)
  </li>
</ul>
{% endblock %}
