{% extends 'base.html' %}

{% block title %}Press Releases - Skillera University{% endblock %}

{% block content %}
<h3>Press Releases</h3>
<hr>
<ul class="list-group">
  <li class="list-group-item">
    <strong>06-Aug-2025:</strong> University Launches New AI & Data Science Program  
    
  </li>
  <li class="list-group-item">
    <strong>01-Aug-2025:</strong> Skillera Signs MoU with TechCorp for Student Internships  
   
  </li>
  <li class="list-group-item">
    <strong>28-Jul-2025:</strong> Convocation 2025 Scheduled for 20th August  
  
  </li>
  <li class="list-group-item">
    <strong>20-Jul-2025:</strong> Chancellor's Address to be Live Streamed on University Portal  
  
  </li>
</ul>
{% endblock %}
