{% extends 'base.html' %}

{% block title %}What's New - Skillera University{% endblock %}

{% block content %}
<h3>What's New</h3>
<hr>
<ul class="list-group">
  <li class="list-group-item">
    <strong>06 Aug 2025:</strong> Final Semester Exam Timetable Published
    <span class="badge bg-success float-end">New</span>
  </li>
  <li class="list-group-item">
    <strong>01 Aug 2025:</strong> Online Exam Fee Payment Opened
  </li>
  <li class="list-group-item">
    <strong>28 Jul 2025:</strong> Admit Card Download Available
  </li>
  <li class="list-group-item">
    <strong>20 Jul 2025:</strong> Supplementary Exam Application Started
  </li>
</ul>
{% endblock %}
